<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E920D861E9385BB00A9F64A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E920D9D1E9385BB00A9F64A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E920DA81E9385BB00A9F64A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
